<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8008/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

        <!-- <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers> -->